openai
Flask
PyMuPDF
langchain
docarray
chromadb
python-magic
pandoc
pypandoc
wikipedia
Flask-WTF
google-search-results
celery
flask-dropzone
Flask-Session
elasticsearch
streamlit
streamlit-chat
streamlit-extras
gunicorn
pinecone-client
unstructured
redis
faiss-cpu
tiktoken
rank_bm25
html2text
python-pptx
