<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %} {% endblock %} - JobAI</title>
        {{ dropzone.load_css() }}
    <style>
        nav a {
            color: #d64161;
            font-size: 3em;
            margin-left: 50px;
            margin-top: 180px;
            text-decoration: none;
        }
    </style>
    <style>
        .dropzone {
        border: 2px dashed #0087F7;
        margin: 20%;
        min-height: 200px;
        min-width: 500px;
        text-align: left;
        }
    </style>
    <link rel= "stylesheet" type= "text/css" href= "{{url_for('static',filename='styles/main.css') }}">
</head>
<body>
    {{ dropzone.load_js() }}
    <nav>
        <a href="{{ url_for('index') }}">JobAI</a>
        <a href="#">About</a>
    </nav>
    <hr>
    <div class="content">
        {% block content %} {% endblock %}
    </div>
    <div class="loader">
        {% block loader %} {% endblock %}
    </div>
  </body>
</html>