<!DOCTYPE html>
<html>
<head>
    <title>Cover Letter Generator</title>
</head>
<body>
    <h1>Cover Letter Generator</h1>
    <form action="/submit" method="POST" enctype="multipart/form-data">
        <label for="text1">Enter your name:</label><br>
        <input type="text" id="text1" name="text1"><br>
        <label for="text2">Enter the company name:</label><br>
        <input type="text" id="text2" name="text2"><br>
        <label for="text3">Enter the job title:</label><br>
        <input type="text" id="text3" name="text3"><br>
        <label for="file">Upload your resume:</label><br>
        <input type="file" id="file" name="file"><br><br>
        <input type="submit" value="Generate Cover Letter">
    </form>
</body>
</html>