{% extends 'base.html' %}

{% block content %}
    <h1>{% block title %} Cover Letter Generator {% endblock %}</h1>

    <form method="POST"  action="/"  enctype="multipart/form-data" id = "myform"  >
        {{ form.csrf_token }}
        <p>
            {{ form.company.label }}
            {{ form.company(size=20) }}
        </p>

        {% if form.company.errors %}
            <ul class="errors">
                {% for error in form.name.errors %}
                    <li>{{ error }}</li>
                {% endfor %}
            </ul>
        {% endif %}

        <p>
            {{ form.job.label }}
            {{ form.job() }}
        </p>

        {% if form.job.errors %}
            <ul class="errors">
                {% for error in form.company.errors %}
                    <li>{{ error }}</li>
                {% endfor %}
            </ul>
        {% endif %}

        <p>
            {{ form.hidden_tag() }}
            {{ form.file }}
        </p>

        {% if form.file.errors %}
            <ul class="errors">
                {% for error in form.file.errors %}
                    <li>{{ error }}</li>
                    {% endfor %}
                </ul>
                {% endif %}
                
                <p>
                    <!-- {{ form.submit()  }} -->
                    <input type="submit",id="submitButton">
                </p>
            </form>
            
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    
    <script type="text/javascript">
                
        $(document).ready(function() {
            $("#myform").submit(function(e) {
                // e.preventDefault();
                $.ajax({
                type: "POST",
                url: window.location.href,
                data: $(this).serialize(),
                success: function() {
                    alert("Form has been successfully submitted");
                    window.location.href = './loading';
                },
                error: function(xhr, status, error) {
                // Handle any errors that occurred during the request
                    alert("Error:", error);
                },
                // }).done(function(resp) {
                //     alert("Form has been successfully submitted");
                //     callback();
            })
            })
        });

    </script>

{% endblock %}