{% extends 'base.html' %}
{% block loader %}

{% if filename %}

  <div id="loader" ></div>
  <div id="fader"></div> 
  <h1 id="generate" style="text-align:center">Generating, please wait...</h1>
  <div id="downloadMsg" > Download did not start automatically? </div>
  <a href=  "{{ url_for('static', filename = filename) }}" id="downloadLink" download="cover_letter.txt">Click me to download</a>

  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
  <script src="sweetalert2.all.min.js"></script>   
  <script type="text/javascript"> 
      // var download_url = "{{url_for('static',filename='cover_letter.txt') }}";
    var download_url =  "{{ url_for('static', filename = filename) }}";
    var max_timeout_min = 1;

    $(document).ready(function() {
      document.getElementById("loader").style.display = "block";
      document.getElementById("fader").style.display = "block";
      var callCount = 0;
      var errorFired = false;
      function checkStatus() {
        $.ajax({
          url: download_url,
          type: 'HEAD',
          statusCode: {
            404: function() {
              callCount++;
              if (callCount>max_timout_min && errorFired==false) {
                Swal.fire({
                  icon: 'error',
                  title: 'Oops...',
                  text: 'something went wrong',
                  footer: '<a href="{{url_for("index")}}">Take me back</a>' // Takes user back to form
                  });
                  errorFired=true;
                document.getElementById("loader").style.display = "none";
                document.getElementById("fader").style.display = "none";
                document.getElementById("generate").style.display = "none";
              }
              
            },
            200: function() {
              document.getElementById("loader").style.display = "none";
              document.getElementById("fader").style.display = "none";
              document.getElementById("generate").style.display = "none";
              document.getElementById("downloadMsg").style.display="block";
              document.getElementById("downloadLink").style.display = "block";

            }
          }
        });
      };
      // Interval to check the status every 5 seconds
      setInterval(checkStatus, 1000);
    });



  </script>

{% else %}
  <h1>Please try again! <a href="{{ url_for('index') }}">here.</a></h1>
{% endif %}
{% endblock %}