{% extends 'base.html' %}
{% block loader %}

<div id="loader" style="  display: block;
margin-left: auto;
margin-right: auto;" ></div>
<div id="fader"></div> 
<h1 id="generate" style="text-align:center">Generating, please wait...</h1>
<a href="{{url_for('static',filename='cover_letter.txt') }}" id="downloadLink" download="cover_letter.txt">Click me to download</a>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="sweetalert2.all.min.js"></script>   
<script type="text/javascript"> 
    var download_url = "{{url_for('static',filename='cover_letter.txt') }}";

  $(document).ready(function() {
    document.getElementById("loader").style.display = "block";
    document.getElementById("fader").style.display = "block";
    var callCount = 0;
    var fired = false;
    function checkStatus() {
      $.ajax({
        url: download_url,
        type: 'HEAD',
        statusCode: {
          404: function() {
            // alert('page not found');
            // after a certain period of time of no response from backend, needs to take user back to index
            callCount++;
            if (callCount>5 && fired==false) {
              Swal.fire({
                icon: 'error',
                title: 'Oops...',
                text: 'something went wrong',
                footer: '<a href="{{url_for("index")}}">Take me back</a>'
                });
                fired=true;
              // window.location.href = "{{url_for('index') }}";
            }
            
          },
          200: function() {
            // window.location.href = download_url;
            document.getElementById("loader").style.display = "none";
            document.getElementById("fader").style.display = "none";
            document.getElementById("generate").style.display = "none";
            document.getElementById("downloadLink").style.display = "block";

          }
        }
      });
    };
    // Interval to check the status every 5 seconds
    setInterval(checkStatus, 1000);
  });



</script>
{% endblock %}